#nav_bar{
	background-color: #de7f10;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none!important;
    color: #000000;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.main_body {
	padding-top: 50px;
}

#steamids > a {
	margin: 0 auto;
	width: 450px;
	height: 130px;
}

#steamids > a > img{
	padding-top: 10px;
	display: block;
	margin: 0 auto;
}

body {
	background-color: #f0ae61;
	margin-bottom: 50px;
}

.btn-custom{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	height: 75px;
	width: 200px;
	font-size: 20px;
}

iframe{
	padding-top: 10px;
	display: block;
	margin: 0 auto;
}
